body {
  font:
    1.2rem 'Fira Sans',
    sans-serif;
  font-weight: normal;
  text-align: center;
  background-color: rgb(63, 63, 63);
  color: white;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0px 60px;
  box-sizing: border-box;
}

.app_name {
  margin: 0;
}

.content {
  width: fit-content;
  margin: 0 auto;
}

.content__options {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hide {
  display: none;
}

.locale {
  display: flex;
  gap: 10px;
}

.button-active {
  border-color: rgb(248, 119, 158) !important;
}

.select {
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  color: white;
  border: 1px solid rgb(180, 180, 180);
  outline: none;
}

.select:disabled {
  opacity: 1;
  cursor: not-allowed;
}

.select .option:hover,
.select .option:checked {
  background-color: rgb(66, 66, 66) !important;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(51, 51, 51) !important;
  color: white;
  padding: 5px;
  border: 1px solid rgb(180, 180, 180);
  background: none;
}

.button img {
  width: 100%;
}

.button:hover {
  background-color: rgb(66, 66, 66) !important;
}

.button:active {
  background-color: rgb(80, 80, 80) !important;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.411);
}

.modal__block {
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  width: 500px;
  height: 200px;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  width: 90%;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation {
  display: flex;
  gap: 10px;
}

.navigation__item {
  color: white;
  text-decoration: none;
}

.navigation__item:hover {
  color: #e6486a !important;
}

.navigation__item:visited {
  color: unset;
}

.router-link-active {
  color: #fc86a0 !important;
}

.cards {
  margin-block: 30px;
}

.card-no_cards {
  height: fit-content !important;
}

.card-adding {
  height: 100px !important;
}

.card {
  padding: 20px;
  width: 800px;
  height: 500px;
  border: 1px solid rgb(77, 61, 66);
  margin-bottom: 50px;
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  box-shadow: 0px 0px 30px black;
}

.card-favorite {
  border-color: rgb(248, 119, 158);
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__by-option {
  display: flex;
  gap: 10px;
  margin-block: 20px;
}

.card__button-delete {
  margin-left: 10px;
}

.weather {
  margin: 0 auto;
}

@media (max-width: 970px) {
  .card {
    width: 75vw;
    height: 50vw;
  }
}

@media (max-width: 775px) {
  #app {
    font-size: 15px;
  }

  .card {
    height: 52vw;
  }
}

@media (max-width: 635px) {
  .card {
    height: 55vw;
  }
}

@media (max-width: 550px) {
  .modal__block {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .card {
    height: 58vw;
  }
}

@media (max-width: 430px) {
  .card {
    height: 62vw;
  }
}
