body {
  font:
    1.2rem 'Fira Sans',
    sans-serif;
  font-weight: normal;
  text-align: center;
  background-color: rgb(63, 63, 63);
  color: white;
}

.overflow-hidden {
  overflow: hidden;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0px 60px;
  box-sizing: border-box;
}

.app_name {
  margin: 0;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.content__options {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.hide {
  display: none;
}

.locale {
  display: flex;
  gap: 10px;
}

.button-active {
  border-color: rgb(248, 119, 158) !important;
}

.select {
  height: fit-content;
  color: white;
  outline: none;
}

.select input {
  border-radius: 5px;
  border: 1px solid rgb(180, 180, 180);
  width: 133px;
  color: white;
  background-color: rgb(51, 51, 51);
  outline: none;
  padding: 5px;
  box-sizing: border-box;
}

.select input:disabled {
  cursor: not-allowed;
}

.options {
  width: 133px;
  position: absolute;
  padding: 1px;
  top: 34px;
  background-color: #333;
  border-radius: 5px;
  border: 1px solid rgb(180, 180, 180);
  border-top: unset;
  text-align: left;
  box-sizing: border-box;
}

.options-closed {
  display: none;
}

.options-reversed {
  top: unset;
  bottom: 34px;
  border-bottom: unset;
  border-top: 1px solid rgb(180, 180, 180);
}

.option {
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

.option-disebled {
  pointer-events: none;
  cursor: not-allowed;
  color: rgb(138, 138, 138);
}

.option:hover {
  background-color: rgb(41, 41, 41) !important;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(51, 51, 51) !important;
  color: white;
  padding: 5px;
  border: 1px solid rgb(180, 180, 180);
  background: none;
}

.button img {
  width: 100%;
}

.button:hover {
  background-color: rgb(66, 66, 66) !important;
}

.button:active {
  background-color: rgb(80, 80, 80) !important;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.411);
}

.modal__block {
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  width: 500px;
  height: 200px;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  width: 90%;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation {
  display: flex;
  gap: 10px;
}

.navigation__item {
  color: white;
  text-decoration: none;
}

.navigation__item:hover {
  color: #e6486a !important;
}

.navigation__item:visited {
  color: unset;
}

.router-link-active {
  color: #fc86a0 !important;
}

.cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-no_cards {
  height: fit-content !important;
}

.card-adding {
  height: 100px !important;
}

.card {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 525px;
  border: 1px solid rgb(77, 61, 66);
  margin-bottom: 40px;
  background-color: rgb(41, 41, 41);
  border-radius: 20px;
  box-shadow: 0px 0px 30px black;
}

.card-favorite {
  border-color: rgb(248, 119, 158);
}

.card__header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.card__by-option {
  display: flex;
  gap: 10px;
  margin-block: 20px;
}

.card__button-delete {
  margin-left: 10px;
}

.weather {
  margin: 0 auto;
}

@media (max-width: 970px) {
  .content {
    width: 75vw;
  }

  .card {
    height: 51vw;
  }
}

@media (max-width: 970px) {
  .card {
    height: 54vw;
  }
}

@media (max-width: 775px) {
  #app {
    font-size: 15px;
  }

  .card {
    height: 55vw;
  }
  .options-reversed {
    top: unset !important;
    bottom: 30px;
  }
  .options {
    top: 30px;
  }
}

@media (max-width: 635px) {
  .card {
    height: 61vw;
  }
  .content {
    width: 85%;
  }
}

@media (max-width: 550px) {
  .modal__block {
    width: 95%;
  }
  .card {
    height: 63vw;
  }
}

@media (max-width: 500px) {
  .card {
    height: 68vw;
  }
  .content {
    width: 90%;
  }
}

@media (max-width: 430px) {
  .card {
    height: 72vw;
  }
}

@media (max-width: 370px) {
  .card {
    height: 74vw;
  }
}
